@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.box_left_home .slick-prev{
    display: block;
    position: absolute;
    top: -200%;
    left: 12px;
    width: 35px; height: 55px;
    background: red;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    /* z-index: 99999; */
    text-indent: -9999px;
    background: url(../photo/pre-button.png)center no-repeat;
    background-size: 35px 55px;
    cursor: pointer;
    /* position: absolute;z-index: 9998;width: 20px;height: 16px;display: block;background: url("photo/lytieulong.png")center no-repeat;
    padding: 0;border: 0;margin: 0;outline: none;cursor: pointer;text-indent: -9999px;left: 110px;bottom: 15px; */
}
.box_left_home .slick-next{
    display: block;
    position: absolute;
    top: -200%;
    right: 12px;
    width: 35px; height: 55px;
    background: red;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    /* z-index: 99999; */
    text-indent: -9999px;
    background: url(../photo/next-button.png)center no-repeat;
    background-size: 35px 55px;
    cursor: pointer;
   /*  position: absolute;z-index: 9998;width: 20px;height: 16px;display: block;background: url("photo/lytieulong.png")center no-repeat;
    padding: 0;border: 0;margin: 0;outline: none;cursor: pointer;text-indent: -9999px;right: 110px;bottom: 15px; */
}



.slider .slick-prev{
    display: block;
    position: absolute;
    top: 43%;
    left: 5px;
    width: 35px; height: 55px;
    background: red;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    z-index: 1;
    text-indent: -9999px;
    background: url(../photo/pre-button.png)center no-repeat;
    background-size: 35px 55px;
    cursor: pointer;
    /* position: absolute;z-index: 9998;width: 20px;height: 16px;display: block;background: url("photo/lytieulong.png")center no-repeat;
    padding: 0;border: 0;margin: 0;outline: none;cursor: pointer;text-indent: -9999px;left: 110px;bottom: 15px; */
}
.slider .slick-next{
    display: block;
    position: absolute;
    top: 43%;
    right: 5px;
    width: 35px; height: 55px;
    background: red;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    z-index: 1;
    text-indent: -9999px;
    background: url(../photo/next-button.png)center no-repeat;
    background-size: 35px 55px;
    cursor: pointer;
   /*  position: absolute;z-index: 9998;width: 20px;height: 16px;display: block;background: url("photo/lytieulong.png")center no-repeat;
    padding: 0;border: 0;margin: 0;outline: none;cursor: pointer;text-indent: -9999px;right: 110px;bottom: 15px; */
}

.list_youtube .slick-prev{
    display: block;
    position: absolute;
    top: -35px;
    right: 85px;
    width: 62px; height: 26px;
    padding: 7px 19px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    z-index: 1;
    text-indent: -9999px;
    background: #777777 url(../photo/icon-up.png)center no-repeat;
    -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);
    cursor: pointer;
    /* position: absolute;z-index: 9998;width: 20px;height: 16px;display: block;background: url("photo/lytieulong.png")center no-repeat;
    padding: 0;border: 0;margin: 0;outline: none;cursor: pointer;text-indent: -9999px;left: 110px;bottom: 15px; */
}
.list_youtube .slick-next{
    display: block;
    position: absolute;
    top: -35px;
    right: 5px;
    width: 62px; height: 26px;
    padding: 7px 19px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    z-index: 1;
    text-indent: -9999px;
    background: #363636 url(../photo/icon-up.png)center no-repeat;
    /* background-size: 62px 26px; */
    cursor: pointer;
   /*  position: absolute;z-index: 9998;width: 20px;height: 16px;display: block;background: url("photo/lytieulong.png")center no-repeat;
    padding: 0;border: 0;margin: 0;outline: none;cursor: pointer;text-indent: -9999px;right: 110px;bottom: 15px; */
}





/* Dots */
.slick-slider
{

}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
